{{#with book}}
    <h3><span>#{{id}}</span> titulo: {{title}}</h2>
    <p>quantidade: {{pageqty}}</p>
    <div class="actions">
        <a href="/books/edit/{{id}}">editar</a>
        <form action="/book/delete/{{id}}" method="post"><input type="submit" value="deletar"></form>
    </div>
{{/with}}
